* {
    outline: solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, sans-serif;
} 

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";

}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2.7fr 6fr;
    grid-template-areas: 
    "sidebar-top"
    "sidebar-main"
    "sidebar-support";
    img {
        height: 3rem;
        filter: invert(1) brightness(100%) hue-rotate(180deg);   
    }

    div {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.sidebar-top {
    grid-area: sidebar-top;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2.5rem;

    div {
        font-size: 2rem;
        font-weight: 700;
    }   
}

.sidebar-main {
    grid-area: sidebar-main;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    padding-left: 1.4rem;
    align-self: self-start;
    row-gap: 1.5rem;    

    img {
        height: 1.5rem;
    }
}

.sidebar-support {
    grid-area: sidebar-support;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-left: 1.4rem;
    align-self: self-start;
    row-gap: 1.5rem;

    img {
        height: 1.5rem;
    }
}

.sidebar-main a, 
.sidebar-support a {
    color: white;
    text-decoration: none;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1.5fr;

}

.upper-row {
    display: flex;
    flex-wrap: wrap;

}

.lower-row {
    display: flex;
    flex-wrap: wrap;

}

.main-content {
    grid-area: main-content;

}