* {
    /* outline: solid orange; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, sans-serif;
} 

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1.2fr 4.4fr;
    height: 100vh;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    display: grid;
    /* height: 100vh; */
    grid-auto-flow: column;
    grid-template-rows: 1fr 2.7fr 6fr;    
    grid-template-areas: 
    "sidebar-top"
    "sidebar-main"
    "sidebar-support";
    img {
        height: 3rem;
        filter: invert(1) brightness(100%) hue-rotate(180deg);   
    }

    div {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.sidebar-top {
    grid-area: sidebar-top;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 1rem;
    align-self: self-start;

    div {
        font-size: 2rem;
        font-weight: 700;
    }   
}

.sidebar-main {
    grid-area: sidebar-main;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    padding-left: 1.75rem;
    align-self: self-start;
    row-gap: 1.5rem;

    img {
        height: 1.75rem;
    }
}

.sidebar-support {
    grid-area: sidebar-support;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding-left: 1.75rem;
    align-self: self-start;
    row-gap: 1.5rem;
    margin-top: 2.5rem;

    img {
        height: 1.75rem;
    }
}

.sidebar-main a, 
.sidebar-support a {
    color: white;
    text-decoration: none;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;
}

.upper-row {
    display: grid;
    grid-template-columns: 3fr 1.25fr;
    align-items: center;
    padding: 0 2.75rem 0.5rem 1.75rem;
}

.upper-row-left {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    justify-self: start;
    width: 85%;
}

.upper-row-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#button-search {
    background: url(./icons/magnify.svg);
    background-size: 1.75rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    border: none;
}

#search-bar {
    background-color: #e2e8f0; 
    padding: 0.3rem;
    border-radius: 2rem;

    flex-grow: 1; 
}

#button-alert {
    background: url(./icons/bell-ring-outline.svg);
    background-size: 1.75rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    border: none;    
}

#button-profile {
    background: url(./avatars/user-310807_640.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    border: none;
}

.upper-row div {
    font-size: 1.25rem;
    font-weight: 700;
}

.lower-row {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
}

.lower-row-left {
    display: flex;
    align-items: center;
    padding-left: 3rem;

    img {
        height: 4rem;
    }
}

.lower-row-left>div p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 0.5rem 1rem;
}

.lower-row-left>div p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 0 0 1rem;
}

.lower-row-right {
    display: flex;    
    align-items: center;
    justify-self: center;
    gap: 2rem;
}

.lower-row-right button {
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #1992d4;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "content-header content-header"
    "project-cards announcements-col";

    padding: 1rem 1rem 4rem 1rem;
    background-color: #e2e8f0;
    overflow-y: auto; /* prevent child div breakout */
}

.content-header {
    grid-area: content-header;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1.5rem;
    font-weight: 700;
}

.project-cards {
    display: grid;
    grid-area: project-cards;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-rows: repeat(auto-fill, 220px); /* more consistent gap between rows */
    column-gap: 14px;
    padding: 1rem 1rem 0 0;
}

.card {
    height: 13rem;
    border-radius: 0.5rem;
    border-left: 0.5rem solid orange;
    background-color: white;
    box-shadow: 0 0 0.25rem gray;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 20px 0 25px;
}    
   
  .card .title {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 25px 0 0 25px;
  }

  .card div:nth-last-of-type(1) {
    height: 80px;
  }

  .card div:nth-of-type(2) {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;    
    padding: 0 2rem 2rem 0;    
  }

  .card div a > img {
    height: 1.5rem;
    display: block;
  }

.announcements-col {
    grid-area: announcements-col;
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
    margin-top: 1rem;

    grid-template-areas: 
    "announcements-items"
    "trending-header"
    "trending-items";
}

.announcements-items {
    grid-area: announcements-items;
    display: grid;
    box-shadow: 0 0 0.25rem gray;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2rem;
}

.announcements-card:nth-of-type(1),
.announcements-card:nth-last-of-type(2) {
    border-bottom: 1px solid #e2e8f0;    
}

.announcements-card:nth-of-type(2), 
.announcements-card:nth-of-type(3) {
    padding-top: 1em;    
}

.announcements-card:nth-of-type(1), 
.announcements-card:nth-of-type(2) {
    padding-bottom: 1em;    
}

.announcements-card p:nth-last-of-type(2) {
    font-size: 1rem;
    font-weight: 700;
}

.announcements-card p:nth-last-of-type(1) {
    font-size: 0.8rem;
    font-weight: 300;
}

.trending-header {
    grid-area: trending-header;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    align-items: center;
}

.trending-items {
    grid-area: trending-items;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 3fr;
    align-items: center;
    row-gap: 5px;

    box-shadow: 0 0 0.25rem gray;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2rem;

    margin-bottom: 1.5rem; /*Optional: align with the bottom at .project-cards, in 100% view*/
    margin-top: -0.5rem;
    height: 89%; /*Optional: align with the bottom at .project-cards, in 100% view */
}

.trending-items a {
    text-decoration: none;
    color: black
}

.trending-items a > p:nth-of-type(1) {
    font-size: 0.9rem;
    font-weight: 700;
}

.trending-items a > p:nth-of-type(2) {
    font-size: 0.9rem;
}

.trending-items img {
    height: 3rem;
}