* {
    /* outline: solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, sans-serif;
} 

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content";

}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    grid-template-areas: 
    "sidebar-top"
    "sidebar-main"
    "sidebar-support";

}

.sidebar-top {
    grid-area: sidebar-top;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 1rem;

    img {
        height: 3rem;
        filter: invert(1) brightness(100%) hue-rotate(180deg);   
    } 
    
    div {
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }   
}

.sidebar-main {
    grid-area: sidebar-main;
    display: grid;
}

.sidebar-support {
    grid-area: sidebar-support;
    display: grid;
}

.header {
    grid-area: header;

}

.main-content {
    grid-area: main-content;

}